header{
	.on_now{
		.custom-col-8 {
			background: $dark_blue;
			p {	
				margin: 0 0 10px;
				line-height: 1.5rem;
				color: #fff;
			}
		}
		div[class^="custom-col"] {
			padding-top: 10px;
		}
	} 
	
	.custom-col-4 {
		padding: 0;
	}
	
}

.date {
	font-size: 1rem;
}