.ads {
	text-align: center;
	img {
		width: 100%;
		display: inline-block;
		&:first-child {
			margin-top: 20px;
		}
	}
	p {
		text-align: left;
		color: $light-blue;
	}
	a{
		color: $dark-blue;
	}
}